<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mock Website Homepage</title>
  <link rel="stylesheet" th:href="@{/style.css}" href="/style.css">
  <style>
    
  </style>
</head>
<body>

  <!-- Navigation Bar -->
  <div th:each="fragName : ${fragments}">
    <div th:replace="~{fragments :: ${fragName}}"></div>
  </div>

  <!--doesn't properly style the footer when the fragment is injected.-->
  <footer>© 2025 MyMockSite. All rights reserved.</footer>
</body>
</html>
