<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mock Website Homepage</title>
  <link rel="stylesheet" th:href="@{/style.css}" href="/style.css">
  <style>
    
  </style>
</head>
<body>

<!--
7/22/25 : Since we're looking at "fragment" here, we need to consistently
use "fragment" downstream to have the most flexible usage
This still works even when all our fragments are constantly using "fragment" to look up values
It won't break or overwrite our values since "fragments" is what index is looking at
-->
  <!-- Navigation Bar -->
  <div th:each="fragment : ${fragments}">
    <div th:replace="~{fragments :: ${fragment.name}}"></div>
  </div>

  <!--doesn't properly style the footer when the fragment is injected.-->
<!--  <footer>© 2025 MyMockSite. All rights reserved.</footer>-->
</body>
</html>
