<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<!--This works, but if the other fragments don't work, it'll just pull
the full fragments.html parts-->
<!--
<div th:insert="~{fragments :: ${navFragment}}"></div>
<div th:insert="~{fragments :: ${heroFragment}}"></div>
<div th:insert="~{fragments :: ${mainFragment}}"></div>
<div th:insert="~{fragments :: ${footerFragment}}"></div>
-->

<!--Here's the correct way to do it-->
<div th:each="fragName : ${inputFragments}">
        <div th:insert="~{fragments :: ${fragName}}"></div>
</div>

<div th:replace="fragments :: greeting(${username})"></div>



</body>
</html>